/* How it work page */

.memberContainer {
  display: grid;
  font-family: Roboto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 350px 300px 300px 400px;
  /* border: 2px solid red; */
}

.item20 {
  grid-area: how-it-works;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  /* background-color: rgb(245, 152, 71); */
}

  .topPart {
    margin: 60px 0 0 40px;
    /* background-color: yellow; */
  }

  .hello {
    font-family: Roboto Medium;
    font-size: 45px;
    padding-top: 40px;
    margin-bottom: 0;
  }

  .topText {
    font-family: Roboto Light;
    width: 80%;
    font-size: 20px;
  }

  .viewMentor {
    font-size: 25px;
    margin-top: 70px;
  }

.item21 {
  grid-area: jane-profile;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  /* background-color: rgb(195, 240, 71); */
}

  .janeProfile {
    font-family: PT sans;
    font-size: 18px;
    color: #525252;
    width: 70%;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 30px auto;
  }

  .profileCrop {
    border-radius: 50%;
    overflow: hidden;
    width: 130px;
    height: 130px;
    margin: 20px auto;
    /* border: 1px solid blue; */
  }

  .janePic {
    height: 210px;
    /* border: 1px solid rgb(128, 0, 122); */
  }

  .nameTitle {
    text-align: center;
  }

  .borderBottom {
    border-bottom: 2px solid rgb(218, 216, 216);
    position: relative;
    width: 90%;
    margin: 25px auto;
  }

  .memberUl {
    list-style: none;
    font-family: PT sans;
    font-size: 17px;
    color: grey;
    margin: 40px auto;
    overflow: scroll;
  }

  .memberLi {
    margin-bottom: 20px;
  }

.item23 {
  grid-area: advertisement;
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  /* background-color: rgb(87, 90, 245); */
}

.item24 {
  grid-area: pic1;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /* background-color: rgb(234, 117, 245); */
}

.item25 {
  grid-area: pic2;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  /* background-color: rgb(245, 117, 4); */
}

.item26 {
  grid-area: pic3;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  /* background-color: rgb(169, 72, 248); */
}

.item27 {
  grid-area: pic4;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  /* background-color: rgb(240, 14, 221); */
}

.item28 {
  grid-area: pic5;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  /* background-color: rgb(59, 136, 75); */
}

.item29 {
  grid-area: pic6;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  /* background-color: rgb(86, 56, 219); */
}

.item30 {
  grid-area: event1;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  width: 80%;
  height: 90%;
  border-radius: 5%;
  margin: 30px 0 0 45px;
  /* border: 1px solid #F55E61; */
  /* background-color: rgb(170, 32, 147); */
}

.item31 {
  grid-area: event2;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  width: 80%;
  height: 90%;
  border-radius: 5%;
  margin: 30px 0 0 45px;
  /* border: 1px solid #F55E61; */
  /* background-color: rgb(122, 84, 51); */
}

.item32 {
  grid-area: event3;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  width: 80%;
  height: 90%;
  border-radius: 5%;
  margin: 30px 0 0 45px;
  /* border: 1px solid #F55E61; */
  /* background-color: rgb(245, 215, 189); */
}

.item33 {
  grid-area: bubbles-art;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  /* background-color: rgb(245, 215, 189); */
}

.bubbles {
  position: relative;
  height: 420px;
  margin: -80px 0 0 -60px;
  /* border: 1px solid blue; */
}

.item34 {
  grid-area: welcome;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  /* background-color: rgb(245, 215, 189); */
}

.eventPic {
  overflow: hidden;
  border-radius: 10px;
  width: 99.7%;
  height: 140px;
  margin-top: 28px;
  background-color: pink;
}

.eventPic2 {
  width: 270px;
  height: 140px;
  border-radius: 10px;
  margin-top: 45px;
  background-color: pink;
}

.eventPic1 {
  width: 270px;
  height: 140px;
  border-radius: 10px;
  margin-top: 45px;
  background-color: pink;
}

.marginLeft {
  margin-left: -20px;
}

.redText {
  color: #F55E61;
}

.yellowCircleWrap {
  margin: 0 0 0 -60px;
  position: absolute;
  /* To push circle to background */
  z-index: -1;
}

.yellowCircle {
  height: 200px;
}

.boxRed {
  width: 80%;
  height: 90%;
  border-radius: 5%;
  margin: 15px auto;
  border: 2px solid #F55E61;
  font-family: PT sans;
}

.boxPink {
  width: 80%;
  height: 90%;
  margin: 15px auto;
  border: 3px solid #F5EDED;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px #F5EDED;
  border-radius: 10px;
  font-family: PT sans;
}

.request {
  /* position: absolute; */
  width: 145px;
  height: 25px;
  margin: auto;
  text-align: center;
  background-color: #F55E61;
  color: white;
  border-radius: 5px;
  padding-top: 5px;
}