.mentorContainer {
  display: grid;
  font-family: Roboto;
  grid-template-columns: 1fr 1fr 1fr 1fr .35fr;
  grid-template-rows: 300px 90px 90px 60px 300px 40px 180px 180px 180px 100px;
}

.item50 {
  grid-area: side-mentor-profile;
  grid-column: 1/2;
  grid-row: 1/6;
  /* background-color: rgb(167, 240, 240); */
}
.item51 {
  grid-area: top-mentor-intro;
  grid-column: 2/5;
  grid-row: 1/2;
  /* background-color: pink; */
}
.item52 {
  grid-area: skills;
  grid-column: 2/5;
  grid-row: 2/3;
  /* background-color: yellowgreen; */
}
.item53 {
  grid-area: hobbies-interests;
  grid-column: 2/5;
  grid-row: 3/4;
  /* background-color: rgb(230, 92, 110); */
}
.item54 {
  grid-area: events-title;
  grid-column: 2/5;
  grid-row: 4/5;
  /* background-color: rgb(250, 176, 17); */
}
.item55 {
  grid-area: event-1;
  grid-column: 2/3;
  grid-row: 5/6;
  /* background-color: aqua; */
}
.item56 {
  grid-area: event-2;
  grid-column: 3/4;
  grid-row: 5/6;
  /* background-color: rgb(81, 192, 37); */
}
.item57 {
  grid-area: event-3;
  grid-column: 4/5;
  grid-row: 5/6;
  /* background-color: rgb(85, 204, 204); */
}
.item58 {
  grid-area: recommendations-title;
  grid-column: 2/5;
  grid-row: 6/7;
  /* background-color: rgb(245, 140, 222); */
}
.item59 {
  grid-area: recommendations-1;
  grid-column: 2/5;
  grid-row: 7/8;
  /* background-color: rgb(117, 91, 233); */
}
.item60 {
  grid-area: recommendations-2;
  grid-column: 2/5;
  grid-row: 8/9;
  /* background-color: rgb(205, 245, 63); */
}
.item61 {
  grid-area: recommendations-3;
  grid-column: 2/5;
  grid-row: 9/10;
  /* background-color: rgb(245, 196, 140); */
}


/* =============================
============= Top ==============
================================ */

.topWrap {
  width: 70%;
  margin: 100px 0 0 50px;
}

.topTitle {
  font-family: Rubik;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
}

.yellowCircleWrap {
  margin: -40px 0 0 -50px;
  position: absolute;
  /* To push circle to background */
  z-index: -1;
}

.yellowCircle {
  width: 200px;
}

.skills {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 50px;
  color: black;
}

.list {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  padding-top: 6px;
  font-size: 11px;
  height: 20px;
  width: 85px;
  background-color: #FFF6A4;
  border-radius: 25px;
}

.hobbies {
  composes: list;
  background-color: #DCF4F8;
}


/* ===============================
=============== Event ============
================================== */

.eventTitle {
  font-size: 18px;
  font-weight: 450;
  margin-left: 40px;
}

.floatRight {
  float: right;
  color: #F55E61;
  font-size: 14px;
  margin-right: 55px;
}

.eventWrap {
  width: 90%;
  margin: auto;
  /* border: 1px solid blue; */
}

.eventPicWrap {
  width: 90%;
  margin: auto;
  /* border: 2px solid green; */
}

.eventPic {
  overflow: hidden;
  border-radius: 3px;
  width: 99%;
}

.redText {
  font-size: 14px;
  margin: 10px 0 0 20px;
  color: #F55E61;
}

.eventText {
  font-size: 12px;
  margin: 5px 0 0 20px;
  color: black;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.viewEvent {
  width: 80%;
  font-size: 12px;
  color: #F55E61;
  text-align: center;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 3px;
  margin: 25px auto;
  border: 2px solid #F55E61;
}


/* ===============================
========= Recommentations ========
================================== */

.mentee {
  width: 25%;
  height: 100%;
  margin: 0 0 0 30px;
  /* border: 1px solid yellowgreen; */
}

.profileCrop {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 10px auto;
  /* border: 1px solid blue; */
}

.profilePic {
  height: 180px;
  /* border: 1px solid rgb(128, 0, 122); */
}

.marginLeft {
  margin-left: -60px;
  margin-top: -20px;
}

.jen {
  margin-left: -42px;
  margin-top: -10px;
  height: 130px;
}

.nameTitle {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  display: block;
  /* border: 1px solid red; */
}

.recommend {
  border-radius: 10px;
  margin-left: 30px;
  color: #635858;
}

.one {
  composes: recommend;
  border: 3px solid #DCF4F8;
  box-shadow: 0px 2px 0px #DCF4F8;
}

.two {
  composes: recommend;
  border: 3px solid #F5EDED;
  box-shadow: 0px 2px 0px #F5EDED;
}

.three {
  composes: recommend;
  border: 3px solid #FFF699;
  box-shadow: 0px 2px 0px #F5EDED;
}

.commentWrap {
  width: 65%;
  float: right;
  /* border: 1px solid red; */
}

.comment {
  width: 75%;
  margin: 12% auto;
  /* font-weight: lighter;  */
  /* border: 1px solid blue; */
}

.heart {
  font-size: 25px;
  color: red;
  margin-right: 5px;
  /* border: 1px solid blue; */
}

.like {
  margin: -25px 20px 0 0;
  float: right;
  /* border: 1px solid green; */
}


/* ===============================
======== Sophia's Profile ========
================================== */

.mentor {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 50px 0 10px 0;
}

.mainProfile {
  width: 70%;
  padding: 25px 0;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  margin: auto;
  font-size: 12px;
  color: black;
  line-height: 20px;
}

.sophia {
  margin: -10px 0 0 -10px;
}

.expertiseTitle {
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.space {
  height: 14px;
}

.borderBtm {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #F5EDED;
}

.request {
  width: 130px;
  height: 25px;
  margin: 30px auto 0 auto;
  text-align: center;
  font-size: 12px;
  background-color: #F55E61;
  color: white;
  border-radius: 3px;
  padding-top: 5px;
}

.msg {
  width: 130px;
  height: 25px;
  margin: 10px auto;
  font-size: 12px;
  text-align: center;
  color: white;
  border-radius: 3px;
  padding-top: 5px;
  color: #F55E61;
  border: 2px solid #F55E61;
}

.mentorName {
  composes: nameTitle;
}